.FiltersMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  border-bottom-right-radius: 5px;
  background-color: var(--filter-menu-background);
  color: var(--filter-menu-color);
  z-index: 1;
  transition: transform cubic-bezier(0.215, 0.610, 0.355, 1) .2s;
}

.FiltersMenu.isHidden {
  transform: translateX(-100%);
}

.FiltersMenu__ArrowContainer {
  display: flex;
  position: absolute;
  top: 12px;
  left: 100%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: var(--filter-menu-background);
  cursor: pointer;
}

.FiltersMenu__Arrow {
  width: 32px;
  height: 32px;
  background-image: url('../../assets/icons/icon-arrow-left.webp');
  background-size: cover;
}

.FiltersMenu__Arrow.isHidden {
  background-image: url('../../assets/icons/icon-arrow-right.webp');
}

.FiltersMenu__Container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.FiltersMenu__Logo {
  align-self: center;
  width: 256px;
  height: 64px;
  background-image: url('../../assets/sacred-logo.webp');
  background-size: cover;
}

.FiltersMenu__Header {
  align-self: center;
  margin: 0;
  text-align: center;
}

.FiltersMenu__Separator {
  margin: 20px 0;
  border-bottom: 1px solid var(--filter-menu-separator);
}

.FiltersMenu__Filter {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
  cursor: pointer;
}

.FiltersMenu__Filter:hover {
  color: var(--filter-menu-filter-color-hover);
}

.FiltersMenu__Filter--Disabled {
  opacity: 0.4;
}

.FiltersMenu__Filter--Disabled .Filter__Text {
  text-decoration: line-through;
}

.Filter__Icon {
  width: 24px;
  height: 24px;
  background-size: cover;
}

.Filter__Icon--dragons {
  background-image: url('../../assets/icons/icon-dragons.webp');
}

.Filter__Icon--portals {
  background-image: url('../../assets/icons/icon-portals.webp');
}

.Filter__Text {
  flex: 1;
  text-transform: uppercase;
}
