$filter-categories: dragons, portals, chests, bountyHunt;

.FiltersMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  border-bottom-right-radius: 5px;
  background-color: var(--filter-menu-background);
  color: var(--filter-menu-color);
  z-index: var(--filter-menu-z-index);
  transition: transform cubic-bezier(0.215, 0.610, 0.355, 1) .2s;

  &.isHidden {
    transform: translateX(-100%);
  }

  &__ArrowContainer {
    display: flex;
    position: absolute;
    top: 12px;
    left: 100%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: var(--filter-menu-background);
    cursor: pointer;
  }

  &__Arrow {
    width: 32px;
    height: 32px;
    background-image: url('../../assets/icons/icon-arrow-left.webp');
    background-size: cover;

    &.isHidden {
      background-image: url('../../assets/icons/icon-arrow-right.webp');
    }
  }

  &__Container {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  &__Logo {
    align-self: center;
    width: 256px;
    height: 64px;
    background-image: url('../../assets/sacred-logo.webp');
    background-size: cover;
  }

  &__Header {
    align-self: center;
    margin: 0;
    text-align: center;
  }

  &__Separator {
    margin: 20px 0;
    border-bottom: 1px solid var(--filter-menu-separator);
  }

  &__Buttons {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
  }

  &__Button {
    padding: 0.375rem 0.725rem;
    border: 0;
    background-color: var(--filter-menu-button-background);
    color: var(--filter-menu-color);
    transition: background-color cubic-bezier(0.215, 0.610, 0.355, 1) .3s;
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      background-color: var(--filter-menu-button-hover-background);
    }
  }
}

.Filter {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    color: var(--filter-menu-filter-color-hover);
  }

  &--Disabled {
    opacity: 0.4;

    .Filter__Text {
      text-decoration: line-through;
    }
  }

  &__Icon {
    width: 24px;
    height: 24px;
    background-size: cover;

    @each $category in $filter-categories {
      &--#{$category} {
        background-image: url('../../assets/icons/icon-#{$category}.webp');
      }
    }

    &--caves {
      background-image: url('../../assets/icons/icon-caves.webp');
    }
  }

  &__Text {
    flex: 1;
    text-transform: uppercase;
  }
}
