.Footer {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 0 0.375rem;
  z-index: var(--footer-z-index);
  background-color: var(--footer-background);
}

.FooterText {
  font-size: 0.675rem;
}

.FooterLink {
  text-decoration: none;

  &:visited {
    color: var(--app-font-color);
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--link-hover-color);
    text-decoration: underline;
  }
}
