:root {
  --app-background: #000;
  --app-font-color: #111;
  --link-hover-color: #002aff;
  --filter-menu-background: #444;
  --filter-menu-color: #e0e0e0;
  --filter-menu-separator: #888;
  --filter-menu-button-background: #333;
  --filter-menu-button-hover-background: #222;
  --filter-menu-filter-color-hover: #fff;
  --footer-background: rgba(255, 255, 255, 0.6);
  --tooltip-background: var(--filter-menu-background);
  --tooltip-color: var(--filter-menu-color);
  --tooltip-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
  --popup-background: var(--filter-menu-background);
  --popup-color: var(--filter-menu-color);
  --popup-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.3);
  --popup-close-button-color-hover: #fff;
  --popup-link-button-color-hover: var(--popup-close-button-color-hover);
  --zoom-buttons-background: var(--filter-menu-background);
  --zoom-buttons-color: var(--filter-menu-color);
  --zoom-buttons-shadow: var(--tooltip-shadow);
  --zoom-buttons-separator: var(--filter-menu-separator);
  --zoom-buttons-hover-background: #333;
}

body {
  margin: 0;
  color: var(--app-font-color);
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
