.Map {
  position: relative;

  &__CanvasContainer {
    position: relative;
  }
}

.Layer {
  position: absolute;
  top: 0;
  left: 0;

  &.isMoving {
    cursor: move;
  }

  &.isMarkerHovered {
    cursor: pointer;
  }
}
